<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; style-src 'self' https://fonts.googleapis.com 'unsafe-inline';">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/account.css">
    <script src="/js/transferWindow.js"></script>
    <script src="/js/changeAccInfo.js"></script>
    <title>simuBank - Account</title>

</head>

<body>
    <%- navbar %>
        <main class="formBody">
            <div class="account-dash">
                <div class="dash-name">
                    <h1> Hi,
                        <%= user.firstName %>
                            <%= user.lastName %>
                    </h1>
                    <h2>Account balance:
                        <%= user.balance %>$
                    </h2>
                    <dialog id="changeDialog">
                        <form id="changeForm">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>" required>
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>" required>
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" value="<%= user.email %>" required>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
                            <button type="submit">Change</button>
                        </form>
                        <button id="closeChangeDialog">Close</button>

                    </dialog>
                    <button id="changeDialogOpener">Change account info</button>
                </div>
                <div class="dash-menu">
                    <div class="dash-notifications">
                        <h3>Notifications:</h3>
                    </div>
                    <div class="dash-functionalities">
                        <dialog id="transferDialog">
                            <form id="transferForm">
                                <label for="destinationAccount">Destination Account:</label>
                                <input type="text" id="destinationAccount" name="destinationAccount" required>
                                <label for="amount">Amount:</label>
                                <input type="text" id="amount" name="amount" required>
                                <button type="submit">Transfer</button>
                            </form>
                            <button id="closeTransferDialog">Close</button>
                        </dialog>
                        <button id="transferDialogOpener">Transfer money</button>
                        <button>Pay bills</button>
                        <button>Close account</button>
                    </div>
                </div>
            </div>
        </main>
        <%- footer %>
</body>

</html>